<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UDA Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{css/splash.css}" />
</head>

<body>
    
    <div class="container">
        <div class="scroller">
            <div class="inner">
                <span>O que nós somos?</span>
                <span>Uma <a class="green">EQUIPA</a></span>
                <span>E em breve...</span>
                <span>Seremos mais <a class="green">FORTES</a></span>
            </div>
        </div>
    </div>

</body>
</html>